.ulVertical{
    color: #f1dea6;
    list-style-type: none;
    width: 95%;
    margin: auto;
    padding: 5px;
    text-align: center;

}
.liVertical {
    color: #f1dea6;
    display: block;
    width: 95%;
    cursor: pointer;
    text-decoration:none;
    padding: 10px;
}

.ulHorizontal {
    color: #f1dea6;
    list-style-type: none;
    margin: 0;
    text-align: center;
    padding-right: 25px !important;
    padding-left: 25px !important;
}

.liHorizontal {
    color: #f1dea6;
    display: inline-block;
    padding: 5px;
    margin: auto;
    cursor: pointer;
    padding-right: 25px !important;
    padding-left: 25px !important;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration:none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    color: #f1dea6;
    text-align: center;
    margin: auto;
}