body {
  background-color: #65000b;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* main title */
h1{
  color: #ffffff;
  text-align: center;
  margin: auto;
}

/* menu */
.menu-link {
  font-size: 1em;
  font-weight: bold;
  color: #65000b;
  text-decoration: none;
  padding: 5px;
}
.menu-link:focus {
  font-size: 1.1em;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  padding: 5px;
}

/* menu positioning depending on size of screen */
.ulVertical{
  list-style-type: none;
  width: 95%;
  margin: auto;
  padding: 5px;
  text-align: center;

}
.liVertical {
  display: block;
  width: 95%;
  cursor: pointer;
  text-decoration:none;
  padding: 10px;
}

.ulHorizontal {
  list-style-type: none;
  margin: 0;
  text-align: center;
  padding-right: 25px !important;
  padding-left: 25px !important;
}

.liHorizontal {
  display: inline-block;
  padding: 5px;
  margin: auto;
  cursor: pointer;
  padding-right: 25px !important;
  padding-left: 25px !important;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration:none;
}



/* various container divs from out to in */
.outerDiv{
  background-color: #d89834;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  width: 75vw;
  margin-left: auto;
  margin-right:auto;
}
.innerDiv{
  background-color: #65000b;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  width: 85%;
  margin-left: auto;
  margin-right:auto;
}

.innerTextDiv{
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  text-align: left;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

/* footer text */
.footer{
  text-align:center;
  font-size: 15px;
  color:#ffffff;
}

/* footer image */
.footer_image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* main title for each page */
.mainTitle{
  text-align:center;
  color:#65000b;
}

/* left aligned <p> tag */
.leftP{
  text-align:left;
  color:black;
  width:100%;
}

/* page specific container divs for gallery and form */
.galleryDiv{
  width: 100vw;
}

.formDiv{
  width: auto ;
  max-width: 100%;
  height: auto ;
}
.form {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding: 30px;
  outline: 1px solid black;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.form-group label {
  align-self: flex-start;
  font-size: 16px;
  margin-bottom: 3px;
}
.form-group input,
select,
textarea {
  font-family: Arial;
  font-size: 16px;
  padding: 5px;
  border: lightgray solid 1px;
  border-radius: 5px;
}


/* ensure that each image scales according to page size */
img{
  width: auto ;
  max-width: 100% ;
  height: auto ;
}


/* page fade in */
.animate-enter {
  opacity: 0;
  z-index: 1;
}
.animate-enter-active {
  opacity: 1;
  transition: opacity 450ms ease-in;
}
.animate-exit {
  display: none;
}


.error-page {
  color: black;
  text-align: center;
  padding: 20px;
  font-size: large;
}


